html
{
    scroll-behavior: smooth;
}
i{
    font-size: 25px;
}
footer{
    height: 170px;
}
/* ----- HAKKIMDA ----- */
.section1Hakkimda{
    background-color: #f7c04e;
    position: relative;
    padding: 200px 100px;
    min-height: 900px;
    height: 100%;
}
.section2Hakkimda{
    padding-top: 60px;
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 900px;
}
.images{
    padding-left: 70px;
    padding-bottom: 90px;
}
.sola-kaydir{
    float:left;
    padding:10px 30px 50px 80px;
}
.girisMetinDiv{
    position: relative;
    width:900px;
    height: 500px;
    left:580px;
    bottom:360px;
}
.hakkimdaYaziTipi{
    font-family: 'Times New Roman', Times, serif; 
    font-size: x-large;    
    padding-top: 70px 
}

/*  ----- FOOTER ----- */

.listFooter{
    list-style-type: none;
    font-size: 10px;
}
.iconDiv1{
    padding-top: 30px;
    padding-left: 550px;
}
.iconDiv2{
    padding-top: 28px;
}
.footerDiv{
    padding-top: 85px;
}
.footerYaziTipi{
    font-family: 'Times New Roman', Times, serif; 
    font-size: large; 
}

/* ----- TAKIMIM ------*/

.section1Takimim{
    background-color: teal;
    position: relative;
    padding: 200px 100px;
    min-height: 900px;
    height: 100%;
}
.section2Takimim{
    background-color:wheat;
    padding-top: 50px;
    height: 100%;
}
.takimimYaziTipi{
    font-family: serif; 
    font-size: x-large;
    padding-top: 70px 
}

/* ----- ŞEHRİM ------*/

.section1Istanbul{
    background-image: url(Images/istanbul.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 900px;
    background-position: cover;
    padding-top: 100px;
    padding-left: 100px;
}
.section2Istanbul{
    background-image: url(Images/background.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 900px;
    background-position: cover;
    padding-top: 60px;
}
.istanbul{
    font-family: serif;
    font-size: 7vw;
}
.sehirButton{
    padding-right: 600px;
    padding-top: 650px;
}
.sehirYaziTipi{
    font-family: monospace;
    font-size: 1.4vw;
    color: white;
}
.mekanlar{
    background-image: url(Images/background.jpg);
    background-size: 100% 100%;
    position: relative;
    padding: 200px 50px;
    min-height: 900px;
    height: 100%;
}
.mekanlarYaziTipi{
    font-family: serif; 
    font-size: x-large;
    padding-top: 50px 
}

/* ----- ÖZ GEÇMİŞİM ----- */

.baslik{
    font-family: serif;
}
.cvYaziTipi{
    font-family: monospace;
    font-size: large;
}
.cvSection{
    background-image: url(Images/bulut.jpg);
    background-size: 100% 100%;
    height: 1740px;
}
.cerceve{
    background-color: black;
}.cvDiv{
    padding-top: 200px;
}
@media only screen and (max-width: 766px){
    .cvSection{
        height: 100%;
    }
}




/* ----- İLETİŞİM ----- */

/* ----- RESPONSİVE -----*/

